<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="/static/css/tagsort.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//api-maps.yandex.ru/2.1/?lang=en-US" type="text/javascript"></script>
    <script src="//yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="/static/js/tagsort.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    $(function(){
        $('div.tags-container').tagSort({
        items:'.item-to-filter',
        itemTagsView: '.item-tags',
        });
    });
	</script>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        ymaps.ready(init);

function init () {
    var myMap = new ymaps.Map('map', {
            center: [{{ district.ctr_lat }}, {{ district.ctr_lon }}],
            zoom: 15
        }, {
            searchControlProvider: 'yandex#search'
        }),
        objectManager = new ymaps.ObjectManager({
            // Setting an option to make placemarks start clusterizing.
            clusterize: false,
            // ObjectManager accepts the same options as the clusterer.
            gridSize: 32,
            clusterDisableClickZoom: true
        });

        document.mapObjectManager = objectManager;


    /**
     * To set options for single objects and clusters,
     * we refer to child collections of ObjectManager.
     */
    objectManager.objects.options.set('preset', 'islands#greenDotIcon');
    objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
    myMap.geoObjects.add(objectManager);

    $.ajax({
        url: "/services/district/{{ district.pk }}/yandexmaps.json"
    }).done(function(data) {
        objectManager.add(data);

                var objectState = objectManager.getObjectState(1);
        if (objectState.isClustered) {
            // Making sure that the specified object has been "selected" in the balloon.
            objectManager.clusters.state.set('activeObject', objectManager.objects.getById(1));
            /**
             * All the generated clusters have unique identifiers.
             * This identifier must be passed to the balloon manager to specify
             * which cluster to show the balloon on.
             */
            objectManager.clusters.balloon.open(objectState.cluster.id);
        } else {
            objectManager.objects.balloon.open(1);
        }

    });

}

    </script>
    	<style>
        html, body, #map {
            width: 400px; height: 400px; padding: 0; margin: 0;
        }
        a {
            color: #04b; /* Link color */
            text-decoration: none; /* Removing uderline from links */
        }
        a:visited {
            color: #04b; /* Visited link color */
        }
        a:hover {
            color: #f50000; /* Link color when hovering */
        }
    </style>
</head>
<body>
District {{ district.name }}


<div class="container">

        <div class="col-sm-4">
        <div id="app">[[ message ]]</div>

        <ul class="list-group">
            {% for s in services %}
            <li class="list-group-item"><a href="#" onclick="document.mapObjectManager.objects.balloon.open({{ s.pk }})" data-item-tags="{{ s.taglist }}" class="item-to-filter">{{ s.description }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div id="map">
            </div>
        </div>
        <div class="col-sm-4">
<div class="tags-container"></div>
        </div>
    </div>
</div>

<script src="/static/js/view_district.js">

</script>
</body>
</html>